        {#- block presentation ~#}
        <h2 id="{{ block.name }}">{{ block.title }}</h2>
        {{ block.content|markdown_to_html ~}}
        <div class="mt-8 flex flex-col md:flex-row gap-8 justify-center">
          <a href="{{ url(site.social.instagram.url) }}" class="inline-flex items-center justify-center no-underline basis-1/2 px-8 md:px-10 py-4 md:py-6 rounded-full bg-neutral-400 dark:bg-neutral-600 text-white text-center">
            Suivre Jean Claude sur Instagram
          </a>
          <a href="{{ url('kit') }}" class="inline-flex items-center justify-center no-underline basis-1/2 px-8 md:px-10 py-4 md:py-6 rounded-full bg-secondary text-white text-center">
            Télécharger le kit de communication
          </a>
        </div>