{% extends 'page.html.twig' %}

        {%- block header ~%}
        <div class="flex flex-col md:flex-row space-y-6 md:space-y-0 md:space-x-6">
          <div class="basis-1/2">
            <div class="inline">{{ html(asset('images/logo.svg'), attributes={alt: "Logo du site", class: 'inline'}) }}</div>
            <h1 class="mt-12 text-3xl">{{ site.baseline|split(',')|join('\n')|nl2br }}</h1>
            <div class="mt-8">{{ site.description }}</div>
            <div class="mt-8 flex flex-col space-y-2">
              <a href="{{ url(site.liens.shop.url) }}" class="md:w-64 inline-flex items-center justify-center px-10 py-6 rounded-full bg-secondary text-white font-bold no-underline transition hover:brightness-125 duration-300">
                Acheter le jeu
                <svg class="hidden md:inline-block w-4 h-4 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
              </a>
              <a href="{{ url(site.liens.ulule.url) }}" class="md:w-64 text-sm no-underline text-center">
                Voir la page Ulule
              </a>
            </div>
          </div>
          <div class="basis-1/2 flex items-center">
            <div class="relative">
              <a href="{{ url(site.liens.ulule.url) }}">{{ html(asset('images/ulule.svg'), attributes={width: 150, height: 150, alt: "Logo Ulule", class: "absolute top-0 left-0 size-36 lg:size-42 xl:size-46 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-125 duration-300"}) }}</a>
              {{ html(asset('images/boite.png'), attributes={alt: "Illustration de la boîte de jeu", fetchpriority: "high", class: "header"}) }}
            </div>
          </div>
        </div>
        {%- endblock header ~%}

      {%- block main ~%}
      {%- for block in page.blocks|default([]) ~%}
        {%- if block.type|default('secondary') == 'primary' ~%}
      <div class="p-8 rounded-3xl shadow-md -mt-20 bg-white dark:bg-gray-800">
        {{- include('blocks/' ~ block.name ~ '.html.twig', {block: block}, ignore_missing = true) ~}}
      </div>
        {%- else ~%}
      <div class="mt-10">
        {{- include('blocks/' ~ block.name ~ '.html.twig', {block: block}, ignore_missing = true) ~}}
      </div>
        {%- endif ~%}
      {%- endfor ~%}
      {%- endblock main ~%}