{% extends 'page.html.twig' %}

        {%- block header ~%}
        <div class="flex flex-col md:flex-row space-x-4">
          <div class="basis-1/2">
            <div class="inline">{{ asset('images/logo.svg')|html(attributes={alt: "Logo du site", class: 'inline'}) }}</div>
            <h1 class="mt-12 text-3xl">{{ site.baseline|split(',')|join('\n')|nl2br }}</h1>
            <div class="mt-8">{{ site.description }}</div>
            {#- include('partials/_newsletter.html.twig') ~#}
            <div class="mt-10 pb-10 text-wrap">
              <a href="{{ url(site.social.ulule.url) }}" class="inline-flex items-center justify-center px-10 py-6 rounded-full bg-secondary text-white font-bold no-underline transition hover:brightness-125 duration-300">
                Financé avec succès sur Ulule
                <svg class="hidden md:inline-block w-4 h-4 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
              </a>
            </div>
          </div>
          <div class="mt-10 md:mt-16 basis-1/2">
            <a href="{{ url(site.social.ulule.url) }}">{{ asset('images/ulule.svg')|html(attributes={alt: "Logo Ulule", class: "absolute w-1/3 md:w-1/6 max-w-52 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-125 duration-300"}) }}</a>
            {{ asset('images/boite3.png')|html(attributes={alt: "Illustration de la boite de jeu", class: "header"}) }}
          </div>
        </div>
        {%- endblock header ~%}

      {%- block main ~%}
      {%- for block in page.blocks|default([]) ~%}
        {%- if block.type|default('secondary') == 'primary' ~%}
      <div class="p-8 rounded-3xl shadow-md mt-[-80px] bg-white">
        {{- include('blocks/' ~ block.name ~ '.html.twig', {block: block}, ignore_missing = true) ~}}
      </div>
        {%- else ~%}
      <div class="mt-10">
        {{- include('blocks/' ~ block.name ~ '.html.twig', {block: block}, ignore_missing = true) ~}}
      </div>
        {%- endif ~%}
      {%- endfor ~%}
      {%- endblock main ~%}