{% import 'macros/fontawesome.twig' as fontawesome -%}
<!DOCTYPE html>
<html lang="{{ site.language }}" class="scroll-smooth overflow-y-scroll">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{- include('partials/metatags.html.twig') ~}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Gasoek+One&family=Unbounded:wght@200..900&display=swap" as="style">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Gasoek+One&family=Unbounded:wght@200..900&display=swap">
    {{- include('partials/fontawesome.twig', {styles: ['brands']}) ~}}
    <style>
      {{- asset('styles.css')|inline ~}}
    </style>
  </head>
  <body class="flex flex-col min-h-screen font-sans antialiased bg-white dark:bg-gray-800 text-secondary dark:text-white">
    <div class="bg-primary dark:bg-(--color-primary-dark) text-white rounded-b-xl md:rounded-b-3xl">
      <header class="container mx-auto px-4 md:px-8 pt-10 pb-20 text-center md:text-left">
        {%- block header ~%}
        <div class="flex justify-center">
          <a href="{{ url(site.home) }}">{{ html(asset('images/logo.svg'), attributes={alt: "Logo du site", class: 'inline'}) }}</a>
        </div>
        {%- endblock header ~%}
      </header>
    </div>
    <main class="grow container mx-auto px-4 md:px-8 pt-10 pb-12 md:pb-16">
      {%- block main ~%}
      <div class="p-8 rounded-3xl shadow-md -mt-20 bg-white dark:bg-gray-800">
        {{ page.content }}
      </div>
      {%- endblock main ~%}
    </main>
    <div class="bg-primary dark:bg-(--color-primary-dark) text-white rounded-t-xl md:rounded-t-3xl">
      <footer class="container mx-auto px-4 md:px-8 pt-10 pb-2">
        <div class="flex flex-row space-x-6 justify-center">
          {%- for name, attr in site.social|default([]) ~%}
          <a href="{{ url(attr.url) }}"><span class="sr-only">{{ name|capitalize }}</span>{{ fontawesome.icon(name, 'brands', '2xl') }}</a>
          {%- endfor ~%}
        </div>
        <div class="px-8 pt-4 pb-0 text-center text-sm">
          <p>{{ site.title }}. Tous droits réservés <a href="{{ url(site.author.url|default(url('/'))) }}">{{ site.author.name }}</a>.</p>
          <p>Site web propulsé par <a href="{{ cecil.url }}">Cecil</a></p>
        </div>
      </footer>
    </div>
  </body>
</html>