{%- import 'macros/fontawesome.twig' as fontawesome -%}
<!DOCTYPE html>
<html lang="{{ site.language }}" class="scroll-smooth overflow-y-scroll">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    {{- include('partials/metatags.html.twig') ~}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gasoek+One&family=Unbounded:wght@200..900&display=swap" rel="stylesheet">
    {%- include 'partials/fontawesome.twig' ~%}
    <style>{{ asset('css/styles.css')|inline }}</style>
  </head>
  <body class="font-sans antialiased bg-white text-secondary">
    <div class="bg-primary text-white rounded-b-xl md:rounded-b-3xl">
      <header class="container mx-auto px-4 md:pl-8 md:pr-0 pt-10 pb-20 text-center md:text-left">
        <div class="flex flex-col md:flex-row space-x-4">
          <div class="basis-1/2">
            <div class="inline">{{ asset('images/logo.svg')|html(attributes={alt: "Logo du site", class: 'inline'}) }}</div>
            <div class="mt-12 uppercase">{{ site.baseline }}</div>
            <h1 class="mt-4 font-title text-3xl uppercase tracking-wide">{{ site.baseline2|split(',')|join('\n')|nl2br }}</h1>
            <div class="mt-8">{{ site.description }}</div>
            <div class="mt-10">
              <p>Inscrivez pour être averti du lancement :</p>
              <form
                action="https://buttondown.email/api/emails/embed-subscribe/{{ site.buttondown.username }}"
                method="post"
                target="popupwindow"
                onsubmit="window.open('https://buttondown.email/{{ site.buttondown.username }}', 'popupwindow')"
                class="embeddable-buttondown-form relative max-w-96"
              >
                <input type="email" placeholder="Entrez votre e-mail" name="email" id="bd-email" required class="form-input rounded-full border-0 w-full" />
                <input type="submit" value="M’inscrire" class="form-input rounded-full border-0 bg-secondary text-white absolute right-0" />
              </form>
            </div>
          </div>
          <div class="mt-10 md:mt-16 basis-1/2">
            {{ asset('images/boite.png')|html(attributes={alt: "Illustration de la boite de jeu", class: "header"}) }}
          </div>
        </div>
      </header>
    </div>
    <main class="container mx-auto px-4 md:px-8 pt-10 pb-20">
      <div class="p-8 rounded-3xl shadow-md mt-[-80px] bg-white">
        {{ page.content|excerpt_html({capture: 'before'}) }}
      </div>
      {%- if page.blocks.questions is defined ~%}
      <div class="mt-10 flex flex-col md:flex-row space-y-4 md:space-x-4 md:space-y-0">
        {%- for qa in page.blocks.questions ~%}
        <div class="basis-1/3 p-6 rounded-2xl bg-primary text-white">
          <h3>{{ qa.question }}</h3>
          {{- qa.answer|markdown_to_html ~}}
        </div>
        {%- endfor ~%}
      </div>
      {%- endif ~%}
      <div class="mt-10">
        {{ page.content|excerpt_html({capture: 'after'}) }}
      </div>
    </main>
    <div class="bg-primary text-white rounded-t-xl md:rounded-t-3xl">
      <footer class="container mx-auto px-4 md:px-8 pt-10 pb-2">
        <div class="flex flex-row space-x-6 justify-center">
          {%- for name, attr in site.social|default([]) ~%}
          <a href="{{ attr.url }}"><span class="sr-only">{{ name|capitalize }}</span>{{ fontawesome.icon(name, 'brands', '2xl') }}</a>
          {%- endfor ~%}
        </div>
        <div class="p-8 text-center text-sm">
          Les aventures de Jean Claude. Tous droits réservés <a href="{{ site.author.url|default(url('/')) }}">{{ site.author.name }}</a>.<br>
          Propulsé par <a href="{{ cecil.url }}">Cecil</a>
        </div>
      </footer>
    </div>
  </body>
</html>